<%- include("./partials/header"); %>
<%- include('./partials/nav'); %>
    <div class = "detail__container">
        <h1 class = "detail__title"><%= blog.title %></h1>
        <p class = "detail__content"><%= blog.body %></p>
        <div class = "button__delete" data-id = <%= blog._id %>>Delete</div>
    </div>
    <script>
        const button = document.querySelector(".button__delete")
        const id = button.dataset.id
        const url = "/blogs/"+id

        button.addEventListener("click", () => {
            fetch(url, {
                method : "DELETE"
            })
            .then((result) => result.json())
            .then((data) => window.location.href = data.site)
            .catch((error) => console.log(error))
        })
    </script>
<%- include('./partials/footer'); %>
